# dependencies
node_modules/
.pnp.*

# builds
dist/
build/
out/

# tools/cache
.nx/
nx-cache/
coverage/

# editors/OS
.DS_Store
.vscode/
.idea/

# Expo / RN
.expo/
.expo-shared/
*.apk
*.aab
*.ipa

# Module Federation
.__mf__temp/

# misc
.env*
!.env.example
